---
title: boomshak
description: vector font
---
<!doctype html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8" />

    <link
      rel="canonical"
      href="https://hen.cat/boomshak"
    />

    <meta
      name="viewport"
      content="width=device-width, initial-scale=1"
    />

    <title>
      {{ title }}
    </title>

    <style>
      {% css %}
    </style>
  </head>
  <body>
    <main>

      <svg viewBox="-14 -26 64 64" stroke-linecap="round" stroke-linejoin="round" height="16px" width="10.4px">
        <g>
          <path
            fill="none"
            stroke="#000000"
            stroke-width="2.8"
            d="M0,5 L0,6 L2,6 L2,5 L1,4 L1,3 L0,3 L0,5 L0,3 L1,3 L1,4 L2,5 L2,6 M0,5 L0,6 L2,6 L2,5 L1,4 L1,3 L0,3 L0,5 L0,3 L1,3 L1,4 L2,5 L2,6 M0,5 L0,6 L2,6 L2,5 L1,4 L1,3 L0,3 L0,5 L0,3 L1,3 L1,4 L2,5 L2,6 M0,5 L0,6 L2,6 L2,5 L1,4 L1,3 L0,3 L0,5 L0,3 L1,3 L1,4 L2,5 L2,6"
            id="p0">
            <animate
              xlink:href="#p0"
              attributeName="d"
              attributeType="XML"
              from="M0,5 L0,6 L2,6 L2,5 L1,4 L1,3 L0,3 L0,5 L0,3 L1,3 L1,4 L2,5 L2,6 M0,5 L0,6 L2,6 L2,5 L1,4 L1,3 L0,3 L0,5 L0,3 L1,3 L1,4 L2,5 L2,6 M0,5 L0,6 L2,6 L2,5 L1,4 L1,3 L0,3 L0,5 L0,3 L1,3 L1,4 L2,5 L2,6 M0,5 L0,6 L2,6 L2,5 L1,4 L1,3 L0,3 L0,5 L0,3 L1,3 L1,4 L2,5 L2,6"
              to="M0,3 L0,4 L1,4 L2,3 L2,1 L1,1 L0,2 L0,3"
              dur="1024ms"
              repeatCount="indefinite"
            />
          </path>
        </g>
      </svg>
    

      <header>
        {% header %}
      </header>

    </main>
  </body>
</html>
