---
title: boomshak
description: vector font
---
<!doctype html>
<html
  lang="en"
  dir="ltr">
  <head>
    <meta charset="utf-8" />

    <link
      rel="canonical"
      href="https://henry.catalinismith.com/boomshak"
    />

    <meta
      name="viewport"
      content="width=device-width, initial-scale=1"
    />

    <title>
      {{ title }}
    </title>

    <style>
      {{ css | safe }}
    </style>
  </head>
  <body>
    <main>

      <header>
        <h1>
          {{ title }}
        </h1>
        {% image_boomshak %}
        <p>
          {{ package.description }}
        </p>
        <a href="https://codeberg.org/henrycatalinismith/boomshak">
          Source Code
        </a>
      </header>

      {% image_animation %}
      {% image_characters %}

    </main>
  </body>
</html>
