:root {
  --padding: 0.5rem;
  --tiny: calc(100vw - var(--padding) * 2);
  --wide: 32rem;
  --box: min(var(--tiny), var(--wide));
  --edge: calc((100vw - var(--box)) / 2);

  --abstractFontSize: 1rem;
  --abstractLineHeight: 1.2em;
}

@media (min-width: 16rem) {
  :root {
    --padding: 1rem
  }
}

@media (min-width: 20rem) {
  :root {
    --abstractFontSize: 1.0rem;
  }
}

@media (min-width: 24rem) {
  :root {
    --abstractFontSize: 1.2rem;
    --abstractLineHeight: 1.2em;
  }
}

@media (min-width: 32rem) {
  :root {
    --abstractFontSize: 1.4rem;
    --abstractLineHeight: 1.4em;
  }
}

html {
  box-sizing: border-box;
}

*,
*:before,
*:after {
  box-sizing: inherit;
}

body {
  background: white;
  font-family: sans-serif;
  margin: 0;
}

main {
  align-items: center;
  display: flex;
  flex-direction: column;
}

header {
  display: flex;
  flex-direction: column;
  justify-content: center;
  height: var(--box);
  width: var(--box);
}

h1 {
  display: none;
}

header svg {
  width: 100%;
  height: 3rem;
  margin-bottom: 1rem;
}

header p {
  font-family: Rockwell;
  font-size: 1.5rem;
  margin: 0 0 1rem 0;
  text-transform: lowercase;
}

svg {
  height: var(--box);
  width: var(--box);
}
